/*
!.gitignore
!.profile
!.tmux.conf
!.xinitrc
!.xprofile
!.zprofile
!.config/
.config/*
!.config/dotfiles.png
!.config/picom.conf
!.config/mimeapps.list
!.config/user-dirs.dirs
!.config/alsa/
!.config/calcurse/
!.config/dunst/
!.config/fontconfig/
!.config/i3/
.config/i3/config
!.config/mpv/
!.config/neofetch/
!.config/nvim/
.config/nvim/bundle/
.config/nvim/undodir/
.config/nvim/spell/
!.config/polybar/
.config/polybar/config
!.config/ranger/
.config/ranger/bookmarks
.config/ranger/history
!.config/rofi/
!.config/Scripts/
!.config/spicetify/
!.config/st/
!.config/termite/
!.config/tmux/
!.config/wget/
!.config/x11/
!.config/zathura/
!.config/zsh/
.config/zsh/.zcompdump
!.local/
.local/*
!.local/bin/
!.local/share/
.local/share/*
!.local/share/dotfiles/
