/*
!.gitignore
!.config/
.config/*
!.config/polybar
!.config/Scripts
!.config/compton.conf
!.config/neofetch
!.config/nvim
.config/nvim/bundle
.config/nvim/undodir
.config/nvim/spell
!.config/polybar
!.config/ranger
!.config/rofi
!.config/termite
!.config/st
!.zprofile
!.config/zsh
.config/zsh/.zcompdump
